<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${title}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
</head>

<body>
<header th:insert="blocks/header :: header"></header>

<main class="container" th:each="el : ${post}">
    <div class="row">
        <h3 class="mb-0" th:text="${el.title}"></h3><br><br>
        <p style="white-space: pre-wrap;" class="mb-auto" th:text="${el.mainText}"></p><br>
        <table width="100%">
            <tr>
                <td align="right">
                    <a style="color: #808080;" th:text="${el.author}"/>
                    &nbsp;
                    <b>👁</b>
                    <a th:text=" ${el.views}"/>
                </td>
            </tr>
        </table>
    </div>
    <p th:class="${class}">
        <a class="btn btn-primary" th:href="'/main/' + ${el.id} + '/edit'" role="button">Редактировать</a>
        <form th:class="${class}" method="post" th:action="'/main/' + ${el.id} + '/delete'">
            <button class="btn btn-primary" role="button" type="submit">Удалить</button>
        </form>
    </p>
</main>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>
