<div th:fragment="links">
    <h4 class="font-italic"><u>Категории:</u></h4>
    <ol class="list-unstyled">
        <li><a href="/main/posts/Technology">Technology</a></li>
        <li><a href="/main/posts/Game">Game</a></li>
        <li><a href="/main/posts/Cinema">Cinema</a></li>
        <li><a href="/main/posts/Art">Art</a></li>
        <li><a href="/main/posts/Health">Health</a></li>
        <li><a href="/main/posts/Science">Science</a></li>
        <li><a href="/main/posts/Travel">Travel</a></li>
    </ol>
</div>